.button{
    width: auto; height: auto;
    max-width: 50px;
    max-height: 50px;
    
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttonInTrack{
    display: block;
    
    width: auto; height: auto;
    max-width: 50px;
    max-height: 50px;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.trackList{
    position: relative;
}

.trackElement{
    display: flex;
    position: relative;
}

.trackInterface{
    position: relative;
}

.trackChannelList{
    position: relative;
    left: 2px;
    top: 2px;
}

.trackBackground{
    z-index: 1;
    position: relative;
    left: 0px;
    top: 0px;
}

.channelBackground{
    z-index: 2;
    position: absolute;
    left: 2px;
    top: 2px;
}

.waveForm{
    z-index: 3;
    position: absolute;
    left: 0px;
    top: 0px;
}

.playbackBar{
    z-index: 4;
    position: absolute;
    left: 0px;
    top: 0px;
}